<template name="dropdown">
  <div id="{{id}}" class="drop{{direction}}">
    <button class="btn btn-default dropdown-toggle" type="button"
            id="{{buttonId}}" data-toggle="dropdown" aria-haspopup="true"
            aria-expanded="false">
      {{label}}
      <span class="caret"></span>
    </button>
    <ul class="dropdown-menu" aria-labelledby="{{buttonId}}">
      {{#each components}}
        {{>Template.dynamic template=template}}
      {{/each}}
    </ul>
  </div>
</template>
